Source: libquvi
Section: libs
Priority: extra
Maintainer: Alejandro Garrido Mota <garridomota@gmail.com>
Build-Depends: debhelper (>= 8.1.3~), libcurl4-gnutls-dev | libcurl4-dev,
 liblua5.1-0-dev, naturaldocs
Standards-Version: 3.9.2
Vcs-Git: git://github.com/mogaal/libquvi.git
Vcs-Browser: https://github.com/mogaal/libquvi
Homepage: http://quvi.sourceforge.net

Package: libquvi6
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for parsing video download links (runtime libraries)
 Library to parse Adobe flash video download links. It supports Youtube
 and other similar video websites. It provides access to functionality and
 data through an API, and does not enable or require the use of the 
 flash technology.

Package: libquvi-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libquvi6 (= ${binary:Version})
Description: library for parsing video download links (development package)
 Library to parse Adobe flash video download links. It supports Youtube
 and other similar video websites. It provides access to functionality and
 data through an API, and does not enable or require the use of the
 flash technology.
 .
 This package provides the necessary files to compile programs which
 use libquvi6.

Package: libquvi-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: library for parsing video download links (documentation package)
 Library to parse Adobe flash video download links. It supports Youtube
 and other similar video websites. It provides access to functionality and
 data through an API, and does not enable or require the use of the
 flash technology.
 .
 This package provides the necessary documentation to make use the library.

Package: quvi
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command line tool for parsing video download links
 command line tool for parsing video download links. It
 supports Youtube and other similar video websites.
