#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

override_dh_auto_build:
	dh_auto_build -- all doc

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_builddeb:
	dh_builddeb -- -Zxz
